<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/style.css">

    <title>Lettre de motivation développeur JavaScript de Guillaume Brioudes</title>
</head>

<body>

    <div class="wrapper">

        {% include "header.njk" %}
    
        <section class="lettre">
            
            {{ content | safe }}

        </section>

    </div>
    
</body>

</html>